<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="../../dist/css/course/course_index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1201120_hwbd6ixe9pu.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="/"></a>
            </div>
            <div class="PC-nav">
                <ul>
                    <li class="active"><a href="/">创业课堂</a></li>
                    <li><a href="#">创业资讯</a></li>
                    <li><a href="#">企业服务</a></li>
                    <li><a href="#">搜索</a></li>
                </ul>
            </div>

            <div class="auth-box">
                <i class="icon-wo iconfont"></i>
                <a href="#">登录</a> /
                <a href="#">注册</a>
            </div>


        </div>

    </header>
    <div class="main">
        <div class="course_nav">
            <div class="nav-content">
                <h3 class="title">在线课堂</h3>
                <ul class="nav-list">
                    <li class="active"><a href="#">最新课堂</a></li>
                    <li><a href="#">投资人说</a></li>
                    <li><a href="#">明细案例</a></li>
                    <li><a href="#">创业知识</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <ul class="course-list">
                <li>
                    <a href="#">
                        <div class="thumbnail-group">
                            <img src="http://static-image.xfz.cn/1513577022_550.png" alt="" class="thumbnail">
                        </div>
                        <div class="course-info">
                            <p class="title">湖人总冠军？</p>
                            <p class="author">kobe</p>
                            <div class="price-group">
                                <span class="free">免费</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="thumbnail-group">
                            <img src="http://static-image.xfz.cn/1513577022_550.png" alt="" class="thumbnail">
                        </div>
                        <div class="course-info">
                            <p class="title">湖人总冠军？</p>
                            <p class="author">kobe</p>
                            <div class="price-group">
                                <span class="free">免费</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="thumbnail-group">
                            <img src="http://static-image.xfz.cn/1513577022_550.png" alt="" class="thumbnail">
                        </div>
                        <div class="course-info">
                            <p class="title">湖人总冠军？</p>
                            <p class="author">kobe</p>
                            <div class="price-group">
                                <span class="free">免费</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="thumbnail-group">
                            <img src="http://static-image.xfz.cn/1513577022_550.png" alt="" class="thumbnail">
                        </div>
                        <div class="course-info">
                            <p class="title">湖人总冠军？</p>
                            <p class="author">kobe</p>
                            <div class="price-group">
                                <span class="free">免费</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="thumbnail-group">
                            <img src="http://static-image.xfz.cn/1513577022_550.png" alt="" class="thumbnail">
                        </div>
                        <div class="course-info">
                            <p class="title">湖人总冠军？</p>
                            <p class="author">kobe</p>
                            <div class="price-group">
                                <span class="free">免费</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <footer class="footer">
        <div class="top-group">
            <div class="top-inner-group">
                <div class="log-box"></div>
                <div class="detail-group">
                    <div class="line1">
                        <ul class="links">
                            <li><a href="#">关于小饭桌</a></li>
                            <li><a href="#">创业课堂</a></li>
                            <li><a href="#">寻求报道</a></li>
                            <li><a href="#">创业礼包</a></li>
                        </ul>
                        <div class="about-us">
                            <span class="title">关于我们:  </span>
                            <ul class="social-group">
                                <li class="weixin">
                                    <div class="wx-qrcode"></div>
                                    <span class="text">0808</span>
                                </li>
                                <li class="weibo">
                                    <a href="#" class="text">小饭桌创业课堂</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="line2">
                        <p class="address">江苏省南京市鼓楼区紫峰大厦38L2001室</p>
                        <p class="contact">400-810-1090(仅限工作日)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-group">@2019 南京股份有限公司京ICP备</div>
    </footer>
</body>
</html>