{% extends 'base/front_base.html' %}

{% block title %}
    search
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/search/search.min.css' %}">
{% endblock %}

{% block body %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="search-group">
                    <form action="" method="get">
                        <input type="text" class="search_input" placeholder="请输入关键字">
                        <input type="submit" class="search-btn" value="搜索">
                    </form>
                </div>
                <div class="recommend-group">
                    <p class="recommend-title">热门推荐</p>
                    <ul class="recommend-list">
                        <li>
                                <div class="thumbnail-group">
                                    <a href=""><img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1451959634,1975369232&fm=15&gp=0.jpg" alt=""></a>
                                </div>
                                <div class="news-group">
                                    <p class="title"><a href="#">深度剖析美国贸易战对中国大陆带来的消极影响</a></p>
                                    <p class="desc">这是描述信息</p>
                                    <p class="more">
                                        <span class="category">深度报道</span>
                                        <span class="pub-time">1小时前</span>
                                        <span class="author">F</span>
                                    </p>
                                </div>
                            </li>
                        <li>
                                <div class="thumbnail-group">
                                    <a href=""><img src="../../src/images/gushi.jpg" alt=""></a>
                                </div>
                                <div class="news-group">
                                    <p class="title"><a href="#">畅游股市，三个月引你走向人生巅峰</a></p>
                                    <p class="desc">这是描述信息</p>
                                    <p class="more">
                                        <span class="category">深度报道</span>
                                        <span class="pub-time">1小时前</span>
                                        <span class="author">F</span>
                                    </p>
                                </div>
                            </li>
                    </ul>
                </div>
            </div>
            {% include 'common/sidebar.html' %}
        </div>

    </div>
{% endblock %}