@import "constants.scss";
@import "init.scss";

body{
    background: pink;
}

.mask-wrapper{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.8);
    overflow-y: scroll;
    display: none;
    z-index: 100;

    .auth-wrapper{
        $authWrapperHeight: 540px;
        $authWrapperWidth: 400px;
        width: $authWrapperWidth;
        height: $authWrapperHeight;
        //background: white;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -$authWrapperHeight/2;
        margin-left: -$authWrapperWidth/2;

        .close-wrapper{
            width: 100%;
            height: 40px;
            background: #fff;
            box-sizing: border-box;

            .close-btn{
                display: inline-block;
                width: 30px;
                height: 30px;
                float: right;
                margin-top: 10px;
                color: $assistFontColor;
                cursor: pointer;
            }
        }

        .auth-inner-warpper{
            width: 100%;
            height: $authWrapperHeight - 40px;
            position: relative;
            overflow: hidden;

            .scroll-wrapper{
                width: $authWrapperWidth*2;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                //background: #c9c9c9;
                //background: #ffffff;



                .auth-group{
                    width: $authWrapperWidth;
                    //height: 100%;
                    padding: 20px;
                    box-sizing: border-box;
                    background: white;
                    .top-group{
                        overflow: hidden;
                        width: 100%;
                        height: 36px;
                        border-bottom: 1px solid $lineColor;
                        line-height: 32px;
                        .title{
                            float: left;
                            color: $mainFontColor;
                            border-bottom: 3px solid $themeColor;
                        }
                        .switch{
                            float: right;
                            color: $themeColor;

                        }
                    }

                    .form-group{
                        margin-top: 20px;

                        .input-group{
                            margin-bottom: 20px;
                            overflow: hidden;
                            .form-control{
                                border: 1px solid #ccc;
                                padding: 10px;
                                width: 100%;
                                box-sizing: border-box;
                                height: 40px;
                                outline: none;
                            }
                            .remember-label{
                                font-size: 14px;
                            }
                            .short-input-group{
                                width: 250px;
                                float: left;
                            }
                            .input-group-addon{
                                width: 100px;
                                float: right;
                                //background: #7ed321;
                                .sms-captcha-btn{
                                    width: 100%;
                                    height: 40px;
                                    border: 1px solid $themeColor;
                                    color: $themeColor;
                                    display: inline-block;
                                    box-sizing: border-box;
                                    text-align: center;
                                    line-height: 40px;
                                    cursor: pointer;
                                }
                            }

                            .submit-btn{
                                width: 100%;
                                height: 40px;
                                background-color:$themeColor ;
                                border: none;
                                color: white;
                                cursor: pointer;
                            }
                        }

                    }
                }

                .signin-group{
                    float: left;
                }
                .signup-group{
                    float: left;
                }
            }
        }

    }



}