

{% extends 'base/front_base.html' %}

{% block title %}
    详情页
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/news/news_detail.min.css' %}">
{% endblock %}

{% block body %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="news-wrapper">
                    <h1 class="title">
                        考辛斯干扰球 勇士队在遭遇杜兰特受伤的情况下依然拿到了胜利,
                        考辛斯干扰球 勇士队在遭遇杜兰特受伤的情况下依然拿到了胜利,
                    </h1>
                    <div class="news-info">
                        <div class="info-group">
                            <span class="author">大宝贝</span>
                            <span class="pub-time">06月06日</span>
                            <span class="category">热点</span>
                        </div>
                        <div class="share-group">
                            <span>分享至:</span>
                            <a class="weixin share-item"></a>
                            <a href="#" class="weibo share-item"></a>
                    </div>
                    </div>
                    <article class="article">
                            一场跌宕起伏的总决赛，杜兰特复出伤退，但是勇士还是赢了。
                            比赛的最后时刻，裁判的吹罚连续引起勇士的不满，但是水花兄弟的出色发挥，
                            为勇士队拿下了客场的关键胜利，总比分2比3，勇士的希望还在，他们可以确认没了杜兰特，但他们不会放弃，
                        回到主场，勇士还有机会。
                        这场比赛的第一节，杜兰特和库里打出出色的数据，杜兰特三分3中3，还是那个熟悉的死神，库里单节14分，两个人就联手拿到了25分。
                        但是到了第二节，杜兰特自己突破后受伤，他的伤势让所有人揪心，他回到了更衣室，本场比赛不会回归，
                        这个系列赛也不会回归，勇士没了退路，他们要全力以赴，库里和考辛斯站了出来。
                        一场跌宕起伏的总决赛，杜兰特复出伤退，但是勇士还是赢了。
                            比赛的最后时刻，裁判的吹罚连续引起勇士的不满，但是水花兄弟的出色发挥，
                            为勇士队拿下了客场的关键胜利，总比分2比3，勇士的希望还在，他们可以确认没了杜兰特，但他们不会放弃，
                        回到主场，勇士还有机会。
                        这场比赛的第一节，杜兰特和库里打出出色的数据，杜兰特三分3中3，还是那个熟悉的死神，库里单节14分，两个人就联手拿到了25分。
                        但是到了第二节，杜兰特自己突破后受伤，他的伤势让所有人揪心，他回到了更衣室，本场比赛不会回归，
                        这个系列赛也不会回归，勇士没了退路，他们要全力以赴，库里和考辛斯站了出来。
                        一场跌宕起伏的总决赛，杜兰特复出伤退，但是勇士还是赢了。
                            比赛的最后时刻，裁判的吹罚连续引起勇士的不满，但是水花兄弟的出色发挥，
                            为勇士队拿下了客场的关键胜利，总比分2比3，勇士的希望还在，他们可以确认没了杜兰特，但他们不会放弃，
                        回到主场，勇士还有机会。
                        这场比赛的第一节，杜兰特和库里打出出色的数据，杜兰特三分3中3，还是那个熟悉的死神，库里单节14分，两个人就联手拿到了25分。
                        但是到了第二节，杜兰特自己突破后受伤，他的伤势让所有人揪心，他回到了更衣室，本场比赛不会回归，
                        这个系列赛也不会回归，勇士没了退路，他们要全力以赴，库里和考辛斯站了出来。
                        </article>
                </div>
                <div class="comment-wrapper">
                    <h3 class="title">文章评论(0)</h3>
                    <textarea name="comment" class="comment-textarea logined-textarea" placeholder="立即登录，参与评论~" ></textarea>
                    <div class="submit-btn-group">
                        <button class="submit-btn">立即评论</button>
                    </div>
                    <ul class="comment-list">
                        <li>
                            <div class="comment-info">
                                <img src="../../src/images/pikaqiu.jpg" alt="" class="avater">
                                <span class="author">kobe</span>
                                <span class="pub-time">1小时前</span>
                            </div>
                            <p class="comment-content">这是第一条评论</p>
                        </li>
                        <li>
                            <div class="comment-info">
                                <img src="../../src/images/pikaqiu.jpg" alt="" class="avater">
                                <span class="author">kobe</span>
                                <span class="pub-time">1小时前</span>
                            </div>
                            <p class="comment-content">这是第二条评论</p>
                        </li>
                    </ul>
                </div>

            </div>
            {% include 'common/sidebar.html' %}
        </div>
    </div>
{% endblock %}