<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1201120_hwbd6ixe9pu.css">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="/"></a>
            </div>
            <div class="PC-nav">
                <ul>
                    <li class="active"><a href="/">创业课堂</a></li>
                    <li><a href="#">创业资讯</a></li>
                    <li><a href="#">企业服务</a></li>
                    <li><a href="#">搜索</a></li>
                </ul>
            </div>

            <div class="auth-box">
                <i class="icon-wo iconfont"></i>
                <a href="#">登录</a> /
                <a href="#">注册</a>
            </div>


        </div>

    </header>
    {% block body %}{% endblock %}
    <footer class="footer">
        <div class="top-group">
            <div class="top-inner-group">
                <div class="log-box"></div>
                <div class="detail-group">
                    <div class="line1">
                        <ul class="links">
                            <li><a href="#">关于小饭桌</a></li>
                            <li><a href="#">创业课堂</a></li>
                            <li><a href="#">寻求报道</a></li>
                            <li><a href="#">创业礼包</a></li>
                        </ul>
                        <div class="about-us">
                            <span class="title">关于我们:  </span>
                            <ul class="social-group">
                                <li class="weixin">
                                    <div class="wx-qrcode"></div>
                                    <span class="text">0808</span>
                                </li>
                                <li class="weibo">
                                    <a href="#" class="text">小饭桌创业课堂</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="line2">
                        <p class="address">江苏省南京市鼓楼区紫峰大厦38L2001室</p>
                        <p class="contact">400-810-1090(仅限工作日)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-group">@2019 南京股份有限公司京ICP备</div>
    </footer>
</body>
</html>