<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1201120_hwbd6ixe9pu.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="/"></a>
            </div>
            <div class="PC-nav">
                <ul>
                    <li class="active"><a href="/">创业课堂</a></li>
                    <li><a href="#">创业资讯</a></li>
                    <li><a href="#">企业服务</a></li>
                    <li><a href="#">搜索</a></li>
                </ul>
            </div>

            <div class="auth-box">
                <i class="icon-wo iconfont"></i>
                <a href="#">登录</a> /
                <a href="#">注册</a>
            </div>


        </div>

    </header>
    <div class="main">
        <div class="wrapper">
            <div class="news-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        <li><a href="#"><img src="https://image.crov.com/spr-KMbvDhqCCPVW/auto-parts-and-accessories.jpg" alt=""></a></li>
                        <li><a href="#"><img src="https://image.crov.com/spr-JIDSVRvWMobZ/electronics.jpg" alt=""></a></li>
                        <li><a href="#"><img src="https://image.crov.com/spr-cmbHvRDowJVs/z-grills-wood-pellet-grill-the-next-generation-of-grills.jpg" alt=""></a></li>
                        <li><a href="#"><img src="https://image.crov.com/spr-JIDSVRvWMobZ/electronics.jpg" alt=""></a></li>
                    </ul>
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <div class="page-control-group">
                        <ul class="page-control">
                        </ul>
                    </div>

                </div>
            </div>
            <div class="siderbar-wrapper"></div>
        </div>
    </div>
</body>
</html>