<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1201120_hwbd6ixe9pu.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="/"></a>
            </div>
            <div class="PC-nav">
                <ul>
                    <li class="active"><a href="/">创业课堂</a></li>
                    <li><a href="#">创业资讯</a></li>
                    <li><a href="#">企业服务</a></li>
                    <li><a href="#">搜索</a></li>
                </ul>
            </div>

            <div class="auth-box">
                <i class="icon-wo iconfont"></i>
                <a href="#">登录</a> /
                <a href="#">注册</a>
            </div>


        </div>

    </header>
</body>
</html>